@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Noto Sans CJK SC", "Noto Sans SC", "Source Han Sans SC", "Droid Sans Fallback", "Helvetica Neue", Arial, sans-serif;
  }

  body {
    background-color: rgb(249 250 251);
    color: rgb(17 24 39);
    -webkit-tap-highlight-color: transparent;
  }

  .dark body {
    background-color: rgb(2 6 23);
    color: rgb(243 244 246);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
